<% include partials/header %>

<h1>Hello my dear friend!</h1>

<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</h2>

<a href="/camps">View all camps!</a>

<% include partials/footer %>
