<% include partials/header %>
<script type="text/javascript" src="scripts/background.js"></script>
<div class="container text-center" id="landing">

<div class="container" id="content">
  <h1>Find the best camp to spent summer in!</h1>
  <h2>The best camps from aroung the world</h2>
</div>
<div>
  <a class="btn btn-default" href="/camps">View all camps!</a>
  <a class="btn btn-primary" href="/camps/new">Submit your camp!</a>
</div>

</div>
<% include partials/footer %>
