<% include partials/header %>

<div id="form" class="container">
  <h1>Create your account!</h1>
  <form action="/register" method="post">
    <div class="form-group">
      <input type="text" name="username" placeholder="Your username goes here" class="form-control">
    </div>
    <div class="form-group">
      <input type="password" name="password" placeholder="Your password goes here" class="form-control">
    </div>
    <div class="form-group">
      <button class="btn btn-primary form-control">Sign up!</button>
    </div>
  </form>
</div>

<% include partials/footer %>
