body, html {
    height: 100%;
    margin: 0;
}

#content {
  color: white;
  text-align: center;
  padding-top: 25%;
}

.thumbnail img {
  width: 100%;
}

.thumbnail {
  padding: 0;
}

.thumbnail .caption-full {
  padding: 9px;
}

#delete-form {
  display: inline;
}

.background {
  background-image: url(../images/larry-chen-30069.jpg);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#form {
  max-width: 400px;
}

.btn-wide {
  width: 100%;
}
